:root{
   
    --headingFont: Copperplate, Copperplate Gothic Light, fantasy;
    --paraFont:Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
  
  }
body{
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 100px;
}

.image-container {
    height: 300px;
    width: 100%;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: flex-start;
    animation: imageAnimation 15s infinite;
}

@keyframes imageAnimation {
    0% {
        background-image: url('https://res.cloudinary.com/dbmxe4x1r/image/upload/v1709622600/html-css-collage-concept_23-2150061955_zqeycd.jpg');
    }

    25% {
        background-image: url('https://res.cloudinary.com/dbmxe4x1r/image/upload/v1709622696/bs1_qgw2wa.jpg');
    }

    50% {
        background-image: url('https://res.cloudinary.com/dbmxe4x1r/image/upload/v1709622687/bs_anayjb.jpg');
    }

    75% {
        background-image: url('https://res.cloudinary.com/dbmxe4x1r/image/upload/v1709622581/bs_fwbc9h.jpg');
    }

    100% {
        background-image: url('https://res.cloudinary.com/dbmxe4x1r/image/upload/v1709622560/pexels-photo-270637_ozbr0y.webp');
    }
}


.intro {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
}

.image-heading {
    color: white;
}

.intro h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.intro p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    font-family: var(--paraFont);
}

.content-container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8%;
    padding-bottom: 40px;
}

.tags {
    margin-bottom: 20px;
    background-color: #191641;
    /* Background color set to yellow */
    padding: 20px;
    /* Added padding for better appearance */
    border-radius: 40px;
    /* Added border-radius for rounded corners */
    color: white;
}

.tags h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.tags ul {
    list-style: none;
    padding: 0;
    font-family: var(--paraFont);
}

.tags ul li {
    margin-bottom: 10px;
}
.content{
    padding: 50px 7%;
}

.content h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: var(--paraFont);
}

.content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    font-size: 20px;
}

.content li {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: normal;
    font-family: var(--paraFont);
}

.content h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: var(--paraFont);
}

.content ul {
    list-style: none;
    padding: 0;
}

.content ul li {
    margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        align-items: flex-start;
    }

    .image-container {
        height: 450px;
        width: 50%;
        border-radius: 20px;
        margin-right: 20px;
    }

    .intro {
        width: 50%;
        margin-left: 20px;
    }

    .intro h1 {
        font-size: 40px;
    }

    .intro p {
        font-size: 18px;
    }

    .content-container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 80px;
    }

    .tags {
        width: 30%;
        margin-right: 20px;
    }

    .content{
        width: 65%;
    }

    .content h2 {
        font-size: 40px;
    }

    .content p {
        font-size: 18px;
    }

    .content ul {
        margin-bottom: 30px;
    }

    .content ul li {
        margin-bottom: 15px;
    }

    .content h3 {
        font-size: 30px;
    }
    
}
/*contact form*/
 
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(139, 139, 139, 0.5);
  
    z-index: 999;
  
    overflow: auto;
  
    
  
  }
  .popup-content h2{
    text-align: center;
  }
  .popup::before,
  .popup::after {
  content: "";
  background-color: #fab5704c;
  position: absolute;
  }
  
  .popup .popup-content {
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0.7rem;
    transition: all ease 0.3s;
  }
  
  .popup .popup-content:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
  }
  
  .container .box {
  width: 11.875em;
  height: 15.875em;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  transition: all ease 0.3s;
  }
  
  .popup-content {
    background-color: white;
    width: 80%;
    max-width: 500px;
    margin: 100px auto;
  
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
    position: relative;
  
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
  
    color: white;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  
  }
  
  /*star mark */
  .required-field {
    color: red;
    font-size: 14px;
  }
  
  
  /*end contact form*/

  .cp-text{
    text-align: center;
    font-size: small;
    color: #fff;
  }