<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
   <title>Careers</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <!--navber-->
    <header>
        <input type ="checkbox" name ="" id ="chk1">
        <div class="logo">
            <img src="https://res.cloudinary.com/dccwhehhp/image/upload/v1709291309/img/logo-no-background_kqrt4t.png" alt="logo">
        </div>
            
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="index.html#about-section">About us</a></li>
                <li><a href="index.html#services-section">Services</a></li>
                <li><a href="careers.html">Careers</a></li>
                <li><a href="#footer-section">contact</a></li>
            </ul>
            <div class="menu">
                <label for="chk1">
                    <i class="fa fa-bars"></i>
                </label>
            </div>
    </header>
   
  <!--Carrer-->
  <div class="bg-container-carrer">
    <div class="move-messenger-carrer" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
        <div>
            <img src="https://res.cloudinary.com/dccwhehhp/image/upload/v1709291305/img/carrer_b8y1bz.png" class="image-carrer" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
        </div>
        <div>
            <h1 class="heading-carrer" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">Welcome to Careers at TSS Technologies</h1>
            <p class="description-carrer" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">At TSS Technologies, we believe in nurturing talent and fostering growth. We are a dynamic service-based company founded by a group of ambitious individuals who started their journey as freshers. Since our inception, we have been committed to providing innovative solutions to our clients while offering a supportive environment for our team members to thrive and excel in their careers..</p>
        </div>
    </div>
    <h1 class="heading-carrer" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">Why Join Us?</h1>
    <div class="cards-carrer-container " data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
        <div class="card-carrer border-green" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
            <h1 data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">Opportunities for Growth</h1>
            <p data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">At TSS Technologies, we recognize and reward hard work and dedication. Whether you are a recent graduate or an experienced professional, we provide ample opportunities for career advancement and personal development.</p>

        </div>
        <div class="card-carrer border-dark-green" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
            <h1 data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">Innovative Projects</h1>
            <p data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">Be a part of cutting-edge projects that challenge your skills and push you to think outside the box. We encourage creativity and innovation in everything we do, ensuring that you are constantly learning and growing.</p>

        </div>
        <div class="card-carrer border-dark-yellow" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
            <h1 data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">Collaborative Culture</h1>
            <p data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">We believe in the power of teamwork and collaboration. At TSS Technologies, you'll work alongside talented individuals who are passionate about what they do. Our open-door policy encourages communication and idea sharing, creating a supportive and inclusive work environment.</p>

        </div>
        <div class="card-carrer border-orange" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
            <h1 data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">Work-Life Balance</h1>
            <p data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">We understand the importance of maintaining a healthy work-life balance. That's why we offer flexible work arrangements and promote a culture of trust and respect. Your well-being is important to us, and we strive to create a supportive environment where you can thrive both personally and professionally.</p>

        </div>
        <div class="card-carrer border-blue" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
            <h1 data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">Commitment to Diversity and Inclusion</h1>
            <p data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">At TSS Technologies, we celebrate diversity and believe that different perspectives drive innovation. We are committed to creating a diverse and inclusive workplace where all employees feel valued and respected.</p>
        </div>
    </div>

    <!--Technologies-->
   <!--Services-->
   <div class="wrapper" id="services-section" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
    <h1 class="slide-text" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">JOB OPPORTUNITIES</h1>
         <div class="content-box " data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
           <section data-aos="fade-up" data-aos-duration="2000" data-aos-once="true"> <a href="internship1.html">
            <div class="card anime" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">

                <h2 data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">Full stack developer </h2>
              <p data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">click to know more about Internship</p>
            </div>
            </a>
          
    
        </section>
          
        <section data-aos="fade-up" data-aos-duration="2000" data-aos-once="true"><a href="internship2.html">
            <div class="card anime" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
             
                <h2 data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">Software Developer</h2>
               <p data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">click to know more about Internship</p>
                                     
            </div>
            </a>
            
        </section>
        <section data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
            <a href="internship3.html" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
            <div class="card anime" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
         
            <h2 data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">Software tester</h2>
            <p data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">click to know more about Internship</p>
            </div>
            </a>
                              
              
        </section>
          <!-------------------------------------------------------------------------------------------->
         

          
          
          

                <!-------------------------------------------------------------------------------------------->
         </div>
</div>
    <!--End Technologies-->
    


    <!--footer-->
    <footer class="footer" id="footer-section" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
        <div class="container-foot">
            <div class="row">
                <div class="footer-col">
                    <a href="#"><h1>tss <br>Technologies</h1></a>
                </div> 
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="index.html#about-section">About us</a></li>
                            <li><a href="#technologies-section">Technologies</a></li>          
                             <li><a href="index.html#services-section">Services</a></li>
                            <li><a href="careers.html">Careers</a></li>
                         </ul>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Office Address</h4>
                    
                 <p><i class="fa-solid fa-location-dot"></i><a href="https://www.google.com/maps/place/tsstechnologies/@12.8467969,77.6454114,17z/data=!3m1!4b1!4m6!3m5!1s0x3bae6b001701e68f:0xfcfc02e742de621!8m2!3d12.8467917!4d77.6479863!16s%2Fg%2F11ldhv_xs8?entry=ttu">   Banglore,Karnatraka,India</a></p>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/profile.php?id=61556577814647&mibextid=LQQJ4d"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/TssTechies"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/tsstechies?igsh=OXpnZmg3enBmcGo0"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>

    <script src="/assets/js/script.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 3000,
            once: false,
        });
    </script>

      </body>
</html>