<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
   <title>Software tester</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  </head>
  <body>
    <!--navber-->
    <header>
        <input type ="checkbox" name ="" id ="chk1">
        <div class="logo">
            <img src="https://res.cloudinary.com/dccwhehhp/image/upload/v1709291309/img/logo-no-background_kqrt4t.png" alt="logo">
        </div>
            
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="index.html#about-section">About us</a></li>
                <li><a href="index.html#services-section">Services</a></li>
                <li><a href="careers.html">Careers</a></li>
                <li><a href="#footer-section">contact</a></li>
            </ul>
            <div class="menu">
                <label for="chk1">
                    <i class="fa fa-bars"></i>
                </label>
            </div>
    </header>
    
    
    <!--banner-->
    
<!--About us-->

  

    <!--Technologies-->

     
    <!--End Technologies-->
    <!--Services-->
    <div class="wrapper" id="services-section">
        <h1 class="slide-text">Job Qualifications</h1>
        

        <table >
          <tr>
            <th>Position</th>
            <th>Qualifications</th>
          </tr>
          <tr>
            <td><h2>Software tester</h2></td>
            <td>
                <ul>
                    <ul>
                        <li style="list-style-type: square;"><h5>Pursuing a degree in Computer Science, Software Engineering, or a related field</h5></li>
                        <li style="list-style-type: square;"><h5 >Experience with testing tools and frameworks (e.g., Selenium, JUnit, TestNG) is desirable but not required.</h5></li>
                        <li style="list-style-type: square;"><h5>Familiarity with software testing concepts and methodologies is a plus.</h5> </li>
                        <li style="list-style-type: square;"><h5>Familiarity with version control systems (e.g., Git) and development tools (e.g., IDEs, debuggers).</h5></li>
                        <li style="list-style-type: square;"><h5>Ability to work independently and collaboratively in a team environment.</h5></li>
                        <li style="list-style-type: square;" >  <h5>Strong problem-solving skills ,interpersonal skills and attention to details</h5></li>
                    </ul>
                    </td>
          </tr>
          <tr>
            <td><h2>  Duration and Location</h2></td>
            <td>
                <ul>
                <li style="list-style-type: square;" >  <h5>This is 3-month internship position located at Bangalore.</h5></li>
            </ul>
            </td>
          </tr>
          <!-- Add more rows for additional job positions -->
        </table>
        <h3>~Send us your resume through Gmail~</h3>
       
    </div>
    <!--footer-->
    <footer class="footer" id="footer-section">
        <div class="container-foot">
            <div class="row">
                <div class="footer-col">
                    <a href="#"><h1>tss <br>Technologies</h1></a>
                </div>
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="index.html#about-section">About us</a></li>
                            <li><a href="#technologies-section">Technologies</a></li>          
                             <li><a href="index.html#services-section">Services</a></li>
                            <li><a href="careers.html">Careers</a></li>
                         </ul>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Office Address</h4>
                    
                 <p><i class="fa-solid fa-location-dot"></i><a href="https://www.google.com/maps/place/tsstechnologies/@12.8467969,77.6454114,17z/data=!3m1!4b1!4m6!3m5!1s0x3bae6b001701e68f:0xfcfc02e742de621!8m2!3d12.8467917!4d77.6479863!16s%2Fg%2F11ldhv_xs8?entry=ttu">   Banglore,Karnatraka,India</a></p>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/profile.php?id=61556577814647&mibextid=LQQJ4d"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/TssTechies"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/tsstechies?igsh=OXpnZmg3enBmcGo0"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>

    <script src="/assets/js/script.js"></script>
      </body>
</html>