<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
   <title>Full stack developer</title>
    <link rel="stylesheet" href="/assets/css/careers.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  </head>
  <body style="background-color: #191641;">
    <!--navber-->
   
    <header>
        
        <div class="logo">
            <img src="/assets/img/logo-no-background.png" alt="logo">
        </div>
            
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="index.html#about-section">About us</a></li>
                <li><a href="index.html#services-section">Services</a></li>
                <li><a href="careers.html">Careers</a></li>
                <li><a href="#footer-section">contact</a></li>
            </ul>
            <div class="menu">
                <label for="chk1">
                    <i class="fa fa-bars"></i>
                </label>
            </div>
    </header>
    
    
    <!--banner-->
    
<!--About us-->

  

    <!--Technologies-->

     
    <!--End Technologies-->
    <!--Services-->
    <div class="wrapper" id="services-section" style="padding-top: 50px;">
        <h1 style="font-size: 2rem;color: rgb(255, 228, 109);font-family: var(--headingFont)">Job Qualifications</h1>
        

        <table  >
          <tr>
            <th>Position</th>
            <th>Qualifications</th>
          </tr>
          <tr>
            <td><h3>Full stack <br>developer</h3></td>
            
            <td>
                <ul>
                    <li style="list-style-type: disc;">Pursuing a degree in Computer Science, Software Engineering, or a related field.</li>
                    <li style="list-style-type: disc;">Proficiency in frontend technologies and frontend frameworks/libraries.</li>
                    <li style="list-style-type: disc;">Familiarity with backend development using Node.js, Python, Java, or similar languages.</li>
                    <li style="list-style-type: disc;">Understanding of RESTful APIs and experience with server-side frameworks (e.g., Express.js, Flask, Spring Boot).</li>
                    <li style="list-style-type: disc;">Knowledge of databases and SQL (e.g., MySQL, PostgreSQL, MongoDB).</li>
                    <li style="list-style-type: disc;">Strong problem-solving skills and attention to details.</li>
                  </ul>
            </td>
          </tr>
          <tr>
            <td><h3>  </h3></td>
            <td>
                <ul>
                    <li ><h4>Responsibilities</h4></li>
                    <li style="list-style-type: disc;">Assisting in the design and development of websites or web applications.</li>
                    <li style="list-style-type: disc;">Writing clean, efficient, and maintainable code using programming languages such as HTML, CSS, and JavaScript.</li>
                    <li style="list-style-type: disc;">Collaborating with senior developers or teams to troubleshoot issues and implement solutions. </li>
                    <li style="list-style-type: disc;">Testing website functionality and identifying and fixing bugs.</li>
                    <li style="list-style-type: disc;">Following coding standards and best practices to ensure the quality and security of the codebase.</li>
                    <li style="list-style-type: disc;" >  Participating in meetings and brainstorming sessions to contribute ideas and strategies for web development projects.
                    </h5></li>
            </ul>
            </td>
            
          </tr>
          <!-- Add more rows for additional job positions -->
        
        </table>
      
        <h3 style="color: white;">Send your resume to admincontact@tsstechnologies.com</h3>
       
          
    </div>
    <!--footer-->
    <footer class="footer" id="footer-section">
        <div class="container-foot">
            <div class="row">
                <div class="footer-col">
                    <a href="#"><h1>tss <br>technologies</h1></a>
                </div>
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="index.html#about-section">About us</a></li>
                            <li><a href="#technologies-section">Technologies</a></li>          
                             <li><a href="index.html#services-section">Services</a></li>
                            <li><a href="careers.html">Careers</a></li>
                         </ul>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Office Address</h4>
                    
                 <p><i class="fa-solid fa-location-dot"></i><a href="https://www.google.com/maps/place/tsstechnologies/@12.8467969,77.6454114,17z/data=!3m1!4b1!4m6!3m5!1s0x3bae6b001701e68f:0xfcfc02e742de621!8m2!3d12.8467917!4d77.6479863!16s%2Fg%2F11ldhv_xs8?entry=ttu">   Banglore,Karnatraka,India</a></p>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/profile.php?id=61556577814647&mibextid=LQQJ4d"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/TssTechies"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/tsstechies?igsh=OXpnZmg3enBmcGo0"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>

    <script src="/assets/js/script.js"></script>
      </body>
</html>