<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
   <title>Software tester</title>
    <link rel="stylesheet" href="/assets/css/careers.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  </head>
  <body style="background-color: #191641;">
    <!--navber-->
    <header>
     
        <div class="logo" onclick="location.href = '/templates/index.html';">
            <img src="/assets/img/logo-no-background.png" alt="logo">
        </div>
            
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="index.html#about-section">About us</a></li>
                <li><a href="index.html#services-section">Services</a></li>
                <li><a href="careers.html">Careers</a></li>
                <li><a href="#footer-section">contact</a></li>
            </ul>
            <div class="menu">
                <label for="chk1">
                    <i class="fa fa-bars"></i>
                </label>
            </div>
    </header>
    
    
    <!--banner-->
    
<!--About us-->

  

    <!--Technologies-->

     
    <!--End Technologies-->
    <!--Services-->
    <div class="wrapper" id="services-section" style="padding-top: 50px;">
        <h1 style="font-size: 2rem;color: rgb(255, 228, 109);font-family: var(--headingFont)">Job Qualifications</h1>
        

        <table >
          <tr>
            <th>Position</th>
            <th>Qualifications</th>
          </tr>
          <tr>
            <td><h3>Software tester</h3></td>
            <td>
                <ul>
                    <ul>
                        <li style="list-style-type: square;">Pursuing a degree in Computer Science, Software Engineering, or a related field.</li>
                       
                        <li style="list-style-type: square;">Familiarity with software testing concepts and methodologies is a plus. </li>
                        <li style="list-style-type: square;">Familiarity with version control systems (e.g., Git) and development tools (e.g., IDEs, debuggers).</li>
                        <li style="list-style-type: square;">Ability to work independently and collaboratively in a team environment.</li>
                        <li style="list-style-type: square;" >  Strong problem-solving skills ,interpersonal skills and attention to detail.</li>
                    </ul>
                    </td>
          </tr>
          <tr>
            <td><h3></h3></td>
            <td>
                <ul>
                    <ul>
                        <li ><h4>Responsibilities</h4></li>
                        <li style="list-style-type: square;">test software applications or systems to identify bugs, errors, and other issues.</li>
                        <li style="list-style-type: square;">Assist in creating test plans and strategies for different aspects of the software, such as functionality, performance, security, and usability.</li>
                        <li style="list-style-type: square;">Execute test cases and scripts to verify the functionality and performance of software applications. </li>
                        <li style="list-style-type: square;">Stay updated with the latest testing methodologies, tools, and technologies to improve your testing skills and contribute effectively to the team.</li>
                        <li style="list-style-type: square;">Work closely with software developers, project managers, and other team members to ensure timely resolution of issues and delivery of high-quality software.</li>
                        <li style="list-style-type: square;" > Document and report bugs and issues found during testing accurately. This includes providing detailed descriptions and steps to reproduce the bugs.</li>
                    </ul>
                    </td>
          </tr>
         
          <!-- Add more rows for additional job positions -->
        </table>
        <h3 style="color: white;"><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=admincontact@tsstechnologies.in" target="_blank">Send your resume to :<span>admincontact@tsstechnologies.in</span></a></h3>
       
    </div>
    <!--footer-->
    <footer class="footer" id="footer-section" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
        <div class="container-foot">
            <div class="row">
                <div class="footer-col footer-col-company-name">
                    <a href="#"><h1>tss <br>Technologies</h1></a>
                </div>
                <div class="footer-col footer-col-company">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#about-section">About us</a></li>
                        <li><a href="#technologies-section">Technologies</a></li>
                        <li><a href="#services-section">Services</a></li>
                        <li><a href="careers.html">careers</a></li>
                    </ul>
                </div>
                <div class="footer-col footer-col-contact-info">
                    <h4>Contact Info</h4>
                    <p><i class="fa-sharp fa-solid fa-phone"></i><a> +91 9553767487</a></p>
                </br>
                    <p  ><i class="fa-solid fa-envelope"></i><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=admincontact@tsstechnologies.in" target="_blank"> admincontact@tsstechnologies.in</a></p>
                </br>
                    <p><i class="fa-solid fa-location-dot"></i><a href="https://www.google.com/maps/place/tsstechnologies/@12.8467969,77.6454114,17z/data=!3m1!4b1!4m6!3m5!1s0x3bae6b001701e68f:0xfcfc02e742de621!8m2!3d12.8467917!4d77.6479863!16s%2Fg%2F11ldhv_xs8?entry=ttu">   Banglore,karnataka,India</a></p>
                </div>
                <div class="footer-col footer-col-follow-us">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/profile.php?id=61556577814647&mibextid=LQQJ4d"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/TssTechies"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/tsstechies?igsh=OXpnZmg3enBmcGo0"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div> 
   </footer>

    <script src="/assets/js/script.js"></script>
      </body>
</html>