<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TssTech</title>
    <link rel="stylesheet" href="/assets/css/service.css">
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <header>
        <input type ="checkbox" name ="" id ="chk1">
        <div class="logo">
            <img src="https://res.cloudinary.com/dccwhehhp/image/upload/v1709291309/img/logo-no-background_kqrt4t.png" alt="logo">
        </div>
            
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="index.html#about-section">About us</a></li>
                <li><a href="index.html#services-section">Services</a></li>
                <li><a href="careers.html">Careers</a></li>
                <li><a href="#footer-section">contact</a></li>
            </ul>
            <div class="menu">
                <label for="chk1">
                    <i class="fa fa-bars"></i>
                </label>
            </div>
    </header>
    <section class="fullwebbackground">
    <div class="base"  >
        <div class="banner">
            <div class="serviceLHS">
                <img src="https://res.cloudinary.com/dccwhehhp/image/upload/v1709291316/img/webDEv3_ord3sh.jpg"class="puff-in-center" alt="webDevelopment">
            </div>
            <div class="serviceRHS text-focus-in" >
                <h2>Web Development</h2>
                <p>Embark on a journey of digital innovation with our website development service</p>
                <div class="learnMoreweb">
                    <a href="#content"><button> Learn More</button></a>
                </div>
            </div>
        </div>
        <div id="content" class="content focus-in-expand">
            <h2>Why Choose Our Service</h2>
            <p>We're the creative minds behind captivating online experiences, to meet your unique needs. From stylish designs that adapt flawlessly to any device to powerful features that engage and delight users.
                We're committed to crafting websites that make a lasting impression. With our deep knowledge of the latest technologies and industry best practices, your online success is not just a possibility, but a certainty.
                Dive into the world of website development with us. Whether you're seeking a static, dynamic, or responsive site, or require specialized services for e-commerce, business, finance, healthcare, portfolio, or travel, we have the expertise to bring your vision to life.</p>
        </div>
        <div class="tags">
            <h2>What We Can Do</h2>
       
            <div class="tagweb" >Responsive Web Design</div>
            <div class="tagweb">Static Website</div>
            <div class="tagweb">Dynamic Website</div>
            <div class="tagweb">Ecommerce</div>
            <div class="tagweb">Blog</div>
            <div class="tagweb">Custom Websites</div>
            <div class="tagweb">Portfolio Website</div>
            <div class="tagweb">Business Website</div>
            <div class="tagweb">Personal Websites</div>
            <div class="tagweb">Finance Websites</div>
            <div class="tagweb">Many more...</div>
       
        </div>
    </div>
</section>
    <footer class="footer" id="footer-section">
         <div class="container-foot">
             <div class="row">
                 <div class="footer-col">
                     <a href="#"><h1>tss <br>Technologies</h1></a>
                 </div>
                 <div class="footer-col">
                     <h4>Company</h4>
                     <ul>
                        <li><a href="index.html#about-section">About us</a></li>
                        <li><a href="#technologies-section">Technologies</a></li>          
                         <li><a href="index.html#services-section">Services</a></li>
                        <li><a href="careers.html">Careers</a></li>
                     </ul>
                     </ul>
                 </div>
                 <div class="footer-col">
                     <h4>Office Address</h4>
                  <p><a href="https://www.google.com/maps/place/tsstechnologies/@12.8467969,77.6454114,17z/data=!3m1!4b1!4m6!3m5!1s0x3bae6b001701e68f:0xfcfc02e742de621!8m2!3d12.8467917!4d77.6479863!16s%2Fg%2F11ldhv_xs8?entry=ttu">Banglore,Karnatraka,India</a></p>
                 </div>
                 <div class="footer-col">
                     <h4>follow us</h4>
                     <div class="social-links">
                         <a href="https://www.facebook.com/profile.php?id=61556577814647&mibextid=LQQJ4d"><i class="fab fa-facebook-f"></i></a>
                         <a href="https://twitter.com/TssTechies"><i class="fab fa-twitter"></i></a>
                         <a href="https://www.instagram.com/tsstechies?igsh=OXpnZmg3enBmcGo0"><i class="fab fa-instagram"></i></a>
                         <a href="#"><i class="fab fa-linkedin-in"></i></a>
                     </div>
                 </div>
             </div>
         </div>
    </footer>
    <script src="/assets/js/script.js"></script>
</body>
</html>